.btncontainer {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
label {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button { background-color: hsl(354, 100%, 50%);
color:black;
height: 50px;
width: 80px;
border-radius: 10px;
transition: background-color 0.25s;
cursor:pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: hsl(338, 100%, 50%);
}
body{ background-color: hsl(0, 0%, 0%);}